@import '../../scss/colors';
@import '../../scss/mixins';
@import '../form-tag/form-tag.module';

.tags {
  margin-top: 12px;
}

.checkbox {
  display: none;
}

.wrapper {
  display: flex;
}

.container {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 8px;

  color: $text-color-secondary;

  line-height: 15px;
}

.item {
  cursor: pointer;
  padding: 2px 5px;
  margin: 2px 2px;
  border: 1px solid $text-color-secondary;
  border-radius: 2px;
  background-color: transparent;


  &:hover {
    border-color: $dangerous-color;
  }
}
