@import "scss/colors";

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;

  color: $text-color;
  background-color: $background-color;

  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

#root {
  height: 100%;
}
