$primary-color: #1890ff;
$secondary-color: #52c41a;
$error-color: #f5222d;
$dangerous-color: #f5222d;
$background-color: #ebeef3;
$surface-color: #ffffff;
$success-color: #52c41a;

$title-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
